.home-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .add-car-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-car-button:hover {
    background-color: #0056b3;
  }
  